<% content_for :title do %><%= @presenter.title %><% end %>
<% content_for :head do %>
  <%= javascript_include_tag "application", defer: true %>
<% end %>

<% if @navigation_helpers %>
  <%= render partial: 'govuk_component/breadcrumbs', locals: @navigation_helpers.breadcrumbs %>
<% end %>

<div class="grid-row">
  <main id="content" role="main">
    <%= render partial: 'landing', locals: { start_node: @presenter.start_node } %>

    <%= render 'smartanswer_metadata' %>
  </main>

  <%= render 'related_items' %>
</div>
